.site-details{
    margin: 1rem auto;
    padding: 1.6rem;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}
.site-title{
        font-size: 3rem;
        font-weight: bold;
        color: rgb(151, 226, 151);
        text-shadow: 1px 1px 1px #00ff00;
        font-family: 'Shrikhand', cursive;
}